{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-header bg-success text-white text-center p-4">

                    <h2>

                        Reset Admin Password

                    </h2>

                </div>

                <div class="card-body p-4">

                    {% if messages %}

                        {% for message in messages %}

                        <div class="alert alert-danger">

                            {{ message }}

                        </div>

                        {% endfor %}

                    {% endif %}

                    <form method="post">

                        {% csrf_token %}

                        <input type="password"
                               name="password"
                               class="form-control mb-3"
                               placeholder="New Password"
                               required>

                        <input type="password"
                               name="confirm_password"
                               class="form-control mb-3"
                               placeholder="Confirm Password"
                               required>

                        <button class="btn btn-success w-100 btn-lg">

                            Change Password

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}