{% extends 'adminpanel/base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-lg border-0 rounded-4">

            <div class="card-header bg-warning p-4">

                <h3 class="mb-0 text-dark">

                    Admin Change Password

                </h3>

            </div>

            <div class="card-body p-4">

                <!-- SUCCESS MESSAGE -->

                {% if messages %}

                    {% for message in messages %}

                    <div class="alert alert-success">

                        {{ message }}

                    </div>

                    {% endfor %}

                {% endif %}

                <!-- ERROR MESSAGE -->

                {% if form.errors %}

                <div class="alert alert-danger">

                    {% for field in form %}

                        {% for error in field.errors %}

                            <div>

                                {{ error }}

                            </div>

                        {% endfor %}

                    {% endfor %}

                </div>

                {% endif %}

                <!-- FORM -->

                <form method="post">

                    {% csrf_token %}

                    <!-- OLD PASSWORD -->

                    <div class="mb-3">

                        <label class="fw-bold">

                            Current Password

                        </label>

                        {{ form.old_password }}

                    </div>

                    <!-- NEW PASSWORD -->

                    <div class="mb-3">

                        <label class="fw-bold">

                            New Password

                        </label>

                        {{ form.new_password1 }}

                    </div>

                    <!-- CONFIRM PASSWORD -->

                    <div class="mb-3">

                        <label class="fw-bold">

                            Confirm Password

                        </label>

                        {{ form.new_password2 }}

                    </div>

                    <!-- BUTTON -->

                    <button class="btn btn-warning w-100">

                        Update Password

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

<style>

.form-control{

    border-radius:12px;

    padding:12px;

}

.btn{

    border-radius:12px;

    font-weight:bold;

}

</style>

{% endblock %}