{% extends 'adminpanel/base.html' %}

{% block content %}

<h2 class="mb-4">
    Manage Users
</h2>

<div class="card shadow p-4 rounded-4">

    <table class="table table-bordered table-hover text-center align-middle">

        <tr class="table-dark">

            <th>S.No.</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Action</th>

        </tr>

        {% for u in users %}

        <tr>

            <td>
                 {{ forloop.counter }}
            </td>

            <td>
                {{ u.username }}
            </td>

            <td>
                {{ u.email }}
            </td>

            <td>
                {{ u.date_joined }}
            </td>

            <td>

                <a href="/adminpanel/users/bookings/{{u.id}}/"
                   class="btn btn-primary btn-sm">

                    View Bookings

                </a>

                <a href="/adminpanel/users/delete/{{u.id}}/"
                   class="btn btn-danger btn-sm"
                   onclick="event.preventDefault(); showConfirm('Are you sure you want to delete this user?', () => window.location.href='/adminpanel/users/delete/{{u.id}}/')">

                    Delete

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}